*{
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{    
    overflow-x: hidden;
    font-family: 'cairo';
}
video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
@font-face{
    font-family: 'cairo';
    src: url(../fuentes/Cairo-Regular.ttf);
}
@font-face{
    font-family: 'bentham';
    src: url(../fuentes/Bentham-Regular.ttf);
}
@font-face{
    font-family: 'dancing_script';
    src: url(../fuentes/DancingScript-VariableFont_wght.ttf);
}
#menu img{
    width: 11%;
    display: block;
    margin-left: 20%;
    margin-top: 5%;
    cursor: pointer;
}
nav{   
    text-decoration: none;
    border-radius: 50px;
    padding-left: 4%;
    font-size: 16px;
    margin-top: 9%;
    margin-left: 3%;
}

.hide{
    display: none;
}
.back{
    margin-left: 3%;
    margin-top: 3%;
    cursor: pointer;
}
#logotipo img{
    width: 42%;
    display: block;
    margin: auto;
    margin-top: 2%;
    cursor: pointer;
}
#buscador svg{
    display: block;
    margin-left: 70%;
    margin-top: 9%;
    cursor: pointer;
}
.cartoon img{
    width: 50%;
    display: block;
    margin-left: 46%;
}
.cartoon h1{
    color: white;
    font-size: 65px;
    text-align: center;
    margin-top: 15%;
    margin-left: -50%;
}
.cartoon h1 span{
    color: rgb(199, 1, 255);
}
.redes{ 
    display: grid;
    grid-template-columns: 10% 10% 10% ;
    margin-top: 5%;
    margin-left: 10%;
    cursor: pointer;
}
#estado{
    width: 100%;
}
.estado svg{
    display: block;
    margin: auto;
    margin-top: -1%;
    cursor: pointer;
}
/************************************************************SOBRE MI****************************************************/
#foto{
    margin: auto;
    width: 55%;
    border-radius: 40%;
}
#foto img{
    margin-top: 15%;
    margin-left: 10%;
    width: 100%;
    border-radius: 50%;
}
.grow:hover
{
-webkit-transform: scale(1.02);
-ms-transform: scale(1.02);
transform: scale(1.02);
}
.bienvenida{    
    margin-top: 3%;
}
.bienvenida h1, h3{
    text-align: center;
    margin-left: -40%;
}
.bienvenida h1{
    color: #B68960;
}
.bienvenida h3{
    font-size: 20px;
    color: #482716;
}
.bienvenida img{
    margin-left: -29%;
}
.yo{
    font-size: 22px;
    font-family: 'bentham';
    color: #482716;
    padding-left: 5%;
    padding-right: 5%;
}
.yoInicio{    
    padding-top: 5%;
    display: grid;
    grid-template-columns: 16% 85%;
    grid-template-rows: 66%;
}
.M p{
    font-size: 180px;
    margin-top: -45%;
}
.yoFinal p{
    margin-top: -8%;
}
#circulo{
    width: 40%;
    height: 500px;
    border: 2px solid #B68960;
    border-radius: 90%;
    font-size: 22px;
    font-family: 'bentham';
    color: #482716;
    margin: auto;
}
.dionejIntro{
    margin-top: 6%;
}
.cartoon2 img{
    width: 140%;    
    margin-top: 5%;
    margin-left: -15%;
}
.dionejIntro p{
    text-align: center;
    margin-top: 45%;
}
.dionejIntro p span{
    color: rgb(172, 20, 172);
    font-size: 22px;
}
.tiquete{
    margin-top: 10%;
    color: rgb(95, 217, 226);
    text-align: center;
    text-decoration-line: underline; 
}
.tiquete p{
    cursor: pointer;
    width: 15%;
    display: block;
    margin: auto;
}
.tiquete p:hover{
    color: rgb(75, 177, 224);
    text-decoration: rgb(75, 177, 224);
}
.parchate p{
    margin-top: 10%;
    font-family: 'dancing_script';
    font-size: 20px;
    color: #B68960;
}
footer{
    width: 100%;    
    color: white;
    font-size: 1em;
    text-align: center;
    text-shadow: rgb(65, 64, 64) 0.1em 0.1em 0.3em;
    padding: 2%;
    padding-bottom: 0.5%;
}
.foot1{
    background:  #DFCEB7;
}
.foot2{
    background: #C701FF;
}
.top a{
    cursor: pointer;
    width: 5%;
    display: block;
    margin: auto;
    text-decoration: none;
    color: white;
}
.top a:hover{
    text-decoration: none;
    color: rgb(245, 230, 204);
}
/************************************************************tiquete****************************************************/
#formulario{
    background: #DDF9FF;
    width: 95%;
    height: 28em;
    margin: auto;
    border-radius: 3%;
}
#formulario input{
    display: block;
    margin: auto;
    width: 80%;
    height: 100%;
    padding: 1.5%;
    margin-top: 6%;
    border: none;
    background: #C7F4DE;
    box-shadow: 4px 3px 10px 2px rgb(184, 183, 183);
    outline: none;
}
#formulario button{
    display: block;
    margin: auto;
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background: #FED701;
    color: #ffffff;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    outline: none;
}
#formulario button:hover{
    box-shadow: 0 4px 16px rgba(49, 172, 172,1);
    transition: all 0.2s ease;

}
#header_form{
    background: #FED701;
    color: #ffffff;
    height: 18%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding: 2%;
    text-align: center;
}
#latersend{
    width: 100%;
    height: 17em;
    border-radius: 3%;
    background: #DDF9FF;
    display: grid;
    grid-template-columns: 10% 90%;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 18%;
}
#info{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: content-box;
}
#info h5 span{
    color: #C701FF;    
}
#info button{
    margin: 5%;
    border: none;
    padding: 3%;
    background: #FED701;
    border-radius: 50%;
    color: #ffffff;
    outline: none;
}

#amarillo{
    height: 100%;
    background: #FED701;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.cohete img{
    width: 100%;
}
/************************************************************contacteme***********************************************/
.contacto{
    margin: 5%;        
}
.redesC{
    display: grid;
}
