*{
    margin: 0;
    padding: 0;
}
.particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.logo{
    position: absolute;
    top: 20px;
    /* bottom: 0; */
    /* right: 0; */
    left: 10%;
}
.logo img{
    width: 200px;
}
#hamburger{
    position: absolute;
    top: 30px;
    /* bottom: 0; */
    right: 10%;
    /* left: 1200px; */
    width: 59px;
    height: 59px;
    background: #C701FF;
    border-radius: 50px;
}
#hamburger button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    z-index: 3;
}
#hamburger button span{
    border-radius: 5px;
    background: #FFFFFF;
    display: block;
    width: 58%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#hamburger button.open .top-line{
    animation-name: top-line-animation;
}
#hamburger button.open .middle-line{
    animation-name: middle-line-animation;
}
#hamburger button.open .botton-line{
    animation-name: botton-line-animation;
}

#hamburger button .top-line{
    animation-name: top-line-animation-close;
}
#hamburger button .middle-line{
    animation-name: middle-line-animation-close;
}
#hamburger button .botton-line{
    animation-name: botton-line-animation-close;
}

@keyframes top-line-animation{
    50%,100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes botton-line-animation{
    50%,100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation{
    20%,100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}


@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%,100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);  
    }
}
@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%,100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}
@keyframes botton-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%,100%{
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}